<div class="row" style="margin-top:10px;">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/notify/topic/activity %>" class="department_item">
            <div class="card notify-department-card" style="height: 210px; width: 170px;">
                <div class="card-header">
                    Hoạt động
                </div>
                <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/default_user.png" alt="" width="130px" height="130px">
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/notify/topic/tuition" class="department_item">
            <div class="card notify-department-card" style="height: 210px; width: 170px;">
                <div class="card-header">
                    Học phí
                </div>
                <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/default_user.png" alt="" width="130px" height="130px">
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/notify/topic/academic" class="department_item">
            <div class="card notify-department-card" style="height: 210px; width: 170px;">
                <div class="card-header">
                    Học vụ
                </div>
                <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/default_user.png" alt="" width="130px" height="130px">
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/notify/topic/activity" class="department_item">
            <div class="card notify-department-card" style="height: 210px; width: 170px;">
                <div class="card-header">
                    Học bổng
                </div>
                <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/default_user.png" alt="" width="130px" height="130px">
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="/notify/topic/job" class="department_item">
            <div class="card notify-department-card" style="height: 210px; width: 170px;">
                <div class="card-header">
                    Tin tuyển dụng
                </div>
                <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/default_user.png" alt="" width="130px" height="130px">
                </div>
            </div>
        </a>
    </div>
</div>
